img {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

body {
  padding: 20px 100px;
  text-align: center;
}

.entries {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.show {
  width: 90%;
}

h1 a {
  text-decoration: none;
  color: black;
}
